1. Answer to question 1 is below:

* : expression
'hello' : value
-87.8 : value
- : expression
/ : expression
+ : expression
6 : value

2. Answer to question 2 is below:

Variables are a used to store data or values but string are a type of data that can be assigned to a variable and strings are always declared within single or double inverted commas.

3. Answer to question 3 is below:

Three different datatypes are 
i. int: these are the intergers or numbers.
ii. float: these are the number with decimal digits.
iii. bool: these are the 'true' or 'false'

4. Answer to question 4 is below:

An expression is a combination of values, variables, operators.
Expressions helps in calculating the results.

5. Answer to question 5 is below:

An expression is a combination of values and functions that are combined and interpreted by the compiler to create a new value, as opposed to a statement which is just a standalone unit of execution and does not return anything.

6. Answer to question 6 is below:

In [1]:
bacon=22
bacon+1

23

7. Answer to question 7 is below:

In [2]:
'spam' + 'spamspam'

'spamspamspam'

In [3]:
'spam' * 3

'spamspamspam'

8. Answer to question 8 is below :

eggs is a valid variable name but 100 is not because variable names cannot start with numbers even though we can have numbers in variable names at some other position.

9. Answer to question 9 is below :

intger: int()
float: float()
string: str()

10. Answer to question 10 is below:

In [4]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

because we cannot concatenate two different datatype(integer and string) values without converting them to string

In [5]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'