1.	Write a Python program to convert kilometers to miles?

In [2]:
km=float(input("Enter the kilometers : "))
print(f"{km}kilometer is {km*0.62137} miles")

Enter the kilometers : 100
100.0 is 62.137 miles

2.	Write a Python program to convert Celsius to Fahrenheit?

In [3]:
temp_in_celsius = float (input("Temperature value in degree Celsius: " ))  
temp_in_Fahrenheit = (temp_in_celsius * 9/5) + 32    
print (f"{temp_in_celsius} degree celsius is {temp_in_Fahrenheit} degree farenheit")

Temperature value in degree Celsius: 20
20.0 degree celsius is 68.0 degree farenheit

3.	Write a Python program to display calendar?

In [4]:
import calendar   
calendar_year= int(input("Enter year: "))  
calendar_month= int(input("Enter month: "))  
print(calendar.month(calendar_year,calendar_month))

Enter year: 2022
Enter month: 10
    October 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

4.	Write a Python program to solve quadratic equation?

In [7]:
a = float(input("Enter a: "))  
b = float(input("Enter b: "))  
c = float(input("Enter c: "))    
d = (b**2)-(4*a*c)  
solution_1 = (-b-d**(1/2))/(2*a)  
solution_2 = (-b+d**(1/2))/(2*a)  
print(f"The solution are {solution_1} and {solution_2}")

Enter a: 1
Enter b: 2
Enter c: 1
The solution are -1.0 and -1.0

5.	Write a Python program to swap two variables without temp variable?

In [9]:
variable_1=20
variable_2=30
variable_1=variable_1+variable_2
variable_2=variable_1-variable_2
variable_1=variable_1-variable_2
print(f"variable_1={variable_1}, variable_2={variable_2}")

variable_1=30, variable_2=20